<ul>
{% for post in postslist %}
{% if post.data.concept == 'reading' %}
  <li class="posts-arrangement">
      <a class="emoji">📰</a>
    <div class="date-time">
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </div>
  </li>

{% else %}
  <li class="posts-arrangement">
      <a class="emoji">💡</a>
    <div class="date-time">
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </div>
  </li>

  {% endif %}
{% endfor %}

</ul>
